extends layout

block content
  .container
    h1 About Us

    h2 Hi, My name is #{name}

    h4 I work at #{company.name} in #{company.city}
    h4 I am #{age} years old.
    h4 I am graduating from #{college.program}

    span I like:
    each thing in likes
      span  #{thing},


